<h2 style=" display:flex; justify-content: center">MY ACCOUNT INFORMATION</h2>

<div class="content-user-edit">
    <div class="left-user-edit">

        <h3 style="font-size:15px;">EDIT MY PASSWORD</h3>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %> <br />

        <div class="field" style="margin-top:20px">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <br />

        <div class="field" style="margin:15px,15px">
            <%= f.label :password %> <br />
            <%= f.password_field :password, autocomplete: "new-password" %>
            <% if @minimum_password_length %>
            <br />
            <% end %>
        </div>
        <br />
        <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <br />
        <div class="field">
            <%= f.label :current_password %>
            <br />
            <%= f.password_field :current_password, autocomplete: "current-password" %><br />

        </div>
        <br />
        <div class="actions">
            <%= f.submit "Update" %>
        </div>
        <% end %>

    </div>

    <div class="right-user-edit">

        <h3 style="font-size:15px" ;>UNHAPPY?</h3>
        <br />
        <p>Cancel My Account<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

        <%= link_to "Back", :back %>

    </div>
</div>
</div>