<style>
    body {
        background-image: url('https://images5.alphacoders.com/813/thumb-1920-813773.jpg');
    }
</style>

<h2 class="signup-header" style=" display:flex; justify-content: center">SIGN UP</h2>

<div class="signup-user-edit">
    <div class="signup-two-user-edit">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field_sign_up">
            <div class="field-name">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, autocomplete: "off" %>
            </div>

            <div class="field">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, autocomplete: "off" %>
            </div>

            <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password" %>
            </div>

            <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>


            <div class="field">
                <%= f.submit "Sign up" %>
            </div>
        </div>
        <% end %>

    </div>
</div>