<h1>Donate</h1>
<div>
	<p>"No time to spare? You can still make a difference!<br>
Donate any amount you are comfortable with to a partner organization of your choice.<br>
No gift is too small to make an impact on your community."</p>
</div>


<%= form_for @donation do |f| %>
<%= f.hidden_field :organization_id %>
First name: <%= f.text_field :first_name, value: current_user&.first_name%>
Last name: <%= f.text_field :last_name, value: current_user&.last_name%>
Organization name:
<%= text_field_tag :organization,
	nil,
	class: "autocomplete",
	data: {
		values: @organizations
	}
%>
<a href="https://www.paypal.com/us/signin">PayPal</a>
<a href="https://venmo.com/account/sign-in">Venmo</a>
<a href="https://cash.app/login?return_to=account.index">CashApp</a>
<%= f.submit "Donate" %>
<% end %>

<script>
	$(".autocomplete").each($field => {
		autoComplete($field)
	})
</script>

